In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('cleandata.csv')
df

,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bare_nucleoli,bland_chromatin,normal_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,0
1,5,4,4,5,7,10,3,2,1,0
2,3,1,1,1,2,2,3,1,1,0
3,6,8,8,1,3,4,3,7,1,0
4,4,1,1,3,2,1,3,1,1,0
...,...,...,...,...,...,...,...,...,...,...
444,3,1,1,1,2,1,2,1,2,0
445,3,1,1,1,3,2,1,1,1,0
446,5,10,10,3,7,3,8,10,2,1
447,4,8,6,4,3,4,10,6,1,1
448,4,8,8,5,4,5,10,4,1,1

In [3]:
X = df.iloc[:,0:9].values
Y = df.iloc[:, 9].values

In [4]:
# Splitting the dataset into the Training set and Test set
# split 70:30

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.30, random_state =1,stratify=Y)

In [5]:
from sklearn.tree import DecisionTreeClassifier

DT = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)

DT.fit(X_train, Y_train)


Y_pred_DT = DT.predict(X_test)

In [7]:
import pickle
pickle.dump(DT,open('model.pkl','wb'))